@import 'tailwindcss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

body {
  background: rgb(42,0,255);
  background: linear-gradient(90deg, rgba(42,0,255,1) 0%, rgba(255,80,5,1) 43%, rgba(221,64,56,1) 69%, rgba(89,0,255,1) 100%);

}



img {
  display:flex;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}




.collapse {
  border-collapse: collapse;
}

form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  @apply flex flex-col justify-center items-center text-white;
}

input[type=text]{
  border-radius: 8px;
  outline: #1a1a1a solid 1px;
  margin-left: 1rem;

  @apply rounded-lg shadow-md border-gray-200 focus:outline-none focus:ring;
}

textarea {
  border-radius: 8px;
  outline: #1a1a1a solid 1px;
  margin-left: 1rem;

  @apply rounded-lg shadow-md border-gray-200 focus:outline-none focus:ring;
}

select {
  color: black;
  border-radius: 8px;
  outline: #1a1a1a solid 1px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;


  @apply rounded-lg shadow-md border-gray-200 focus:outline-none focus:ring;
  @apply rounded-lg shadow-md border-gray-200 focus:outline-none focus:ring;
}